@import "../../variables.scss";

.header {
  display: flex;
  height: $header-height;

  .navbar {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: $color-green;
    color: $color-white;
    border-bottom: 1px solid $color-green;

    .page-link {
      color: inherit;
      text-decoration: none;
      padding: 8px;

      &:hover {
        color: $color-black;
      }
    }
  }
}
